<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Zjblood.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD15FDE51E6E66F000F31F1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD15FDFE1E6E66F000F31F1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD15FE091E6E66F100F31F1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
